.cml-root {
  width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-family: 'PingFang SC', BlinkMacSystemFont, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cml-base {
  box-sizing: border-box;
  border: 0 solid black;
  margin: 0;
  padding: 0;

  flex: 0 0 auto;

  position: relative;

  text-align: left;
  font-size: 30cpx; /*15px*/
  /* letter-spacing: 1.5cpx; */
}

.cml-base,
.cml-base::before,
.cml-base::after {
  box-sizing: border-box;
  text-size-adjust: none;
}

input,
textarea {
  -webkit-appearance: none;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}
