.cml-view {
    
}

.cml-text {
    
}

.cml-border-1px {
    border: 1px solid #ccc;
}

.cml-border-top-1px {
    border-top: 1px solid #ccc;
}
.cml-border-right-1px {
    border-right: 1px solid #ccc;
}
.cml-border-bottom-1px {
    border-bottom: 1px solid #ccc;
}
.cml-border-left-1px {
    border-left: 1px solid #ccc;
}

