.cml-view {
    
}

.cml-text {
    
}

.border-1px {
    border: 1px solid #ccc;
}

.border-top-1px {
    border-top: 1px solid #ccc;
}
.border-right-1px {
    border-right: 1px solid #ccc;
}
.border-bottom-1px {
    border-bottom: 1px solid #ccc;
}
.border-left-1px {
    border-left: 1px solid #ccc;
}

